@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}
body {
  display: flex;
  background-color: hsl(212, 45%, 89%);
  margin: 0;
  overflow: hidden;
  height: 100vh;
  align-items: center;
}
* {
  font-family: "Outfit", sans-serif;
}
img {
  max-width: 100%;
  border-radius: 0.7rem;
}
.container {
  display: flex;
  flex: 1;
  justify-content: center;
}
.card {
  width: 300px;
  background-color: white;
  border-radius: 0.7rem; 
}
.card-container {
  text-align: center;
  flex: 1;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 1.5rem;
}
.text-container{
  padding-right: 0.2rem;
  padding-left: 0.3rem;
  text-wrap:pretty;
}
.text-container > h1 {
  font-size: 22px;
  color: var(--dark-blue);
  font-weight: 700;
}
.text-container > span {
  color: var(--grayish-blue);
  font-weight: 400;
  font-size: 15px;
}
.footer {
  font-size: 15px;
  color: var(--dark-blue);
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
}
